#about {
  @include text($textFont, $bodyCopy, $textColor);
  text-align: left;
  line-height: $lHeight;
  padding: 1em;
  
  @include desktop {
    clear: both;
    margin: 0 auto;
    width: 90%;
    max-width: $maxWidth;
  }
}

#profile-photo {
  display: block;
  margin: 0 auto 35px;
  max-width: 60%;
  border: 2px solid $primaryOrange; padding: 4px; background: white;
  border-radius: 50%;
  
  @include tablet {
    display: inline-block;
    width: 35%;
    float: right;
    margin-left: 2em;
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
  
  @include desktop {
    display: inline-block;
    width: 25%;
    max-width: 300px;
  }
}