* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

#menu {
  border: none;
  background: none;
}

#menu img {
  width: 35px;
}