//Colors

$lightGray: #fafafa;
$textColor: #696969;
$darkGray: #3f3f3f;
$primaryOrange: #ff5c33;

//Fonts

$displayFont: 'Judson', serif;
$textFont: 'Quattrocento Sans', sans-serif;
$boldFont: 700;

//Font Sizes

$headingCopy: 2.5em;
$quoteCopy: 2.25em;
$subHeadCopy: 1.25em;
$bodyCopy: 1em;
$footerNavCopy: 0.75em;

//Other

$lHeight: 1.5em;
$maxWidth: 1600px;